main{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("./../../../assets/img/fdoMarino.jpg");
    color:azure
}

.container{
    width: 200px;
    
}

img{
    width: 200px;
    height: 150px;
}