a{
    margin: 5px;
    text-decoration: none;
    background-color: rgba(71, 61, 138,.7);
    color: white;
    border-radius: 5px;
    padding: 2px;

}

nav{
    background-color: aliceblue;
}

h1{
    background-color: rgb(4, 19, 32);
    color: rgb(247, 238, 238);
}