/*
body{
    background-image: url("./../../../assets/img/fondo2.jpg");
    
    
}
*/
.col{
    height: 200px;
    margin: 10px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#subtitulo{
    background-color: rgba(104, 128, 49, 0.5);
   
    
}

#subtitulo>h3{
    color:aqua;
    font-weight: bolder;
}



img{
    height: 200px;
    width: 400px;
    border-radius: 10px;
}

img:hover{
    filter: drop-shadow(16px 16px 10px rgb(201, 198, 198));
    transition: 1s;
}

h1{
    background-color: rgb(4, 19, 32);
    color: rgb(247, 238, 238);
}

a{
    text-decoration: none;
    margin: 10px;
    color: aliceblue;
}

nav{
    background-color: darkslategray;
    height: 30px;
    border: 1px solid black;
    

}




