*{
    box-sizing: border-box;
    font-family: 'Consolas';
}

.container-fluid{
    margin-top: 20px;
    height: 70vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
   
}

.container-fluid>h4{
    padding: 15px 0;
    background-color: rgb(50, 70, 98);
    color: #eee;
    width: 100%;
    text-shadow: 0 0 10px rgba(250,250,250,.5);

}

.explicacion{
    border-top: 1px solid black;
    border-bottom: 1px solid black ;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    position: relative;
    margin-bottom: 30px;
}

.explicacion ul{  
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: large;
  
}

.explicacion img{
    position: absolute;
    top: -55%;
    right: 0;
   
}

.accesos{
    width: 25%;
    height: 60%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.accesos a{
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: #fff;
}

.accesos div{
    background-color: tomato;
    border-radius: 5px;
    width: 100%;
    height: 35%;
    padding: 10px;
    transition: all .5s;
    position: relative;
}

.accesos div:hover{
    box-shadow: -5px 5px 10px rgba(0,0,0,.3);
    background-color: orange;
    cursor: pointer;
}
















