<div class="container-fluid " id="vistaJuegos">
    <div class="container" id="subtitulo">
        <h3>Registrate o ingresa para acceder a los juegos disponibles</h3>
        <ul>
            <li><em>Acumula experiencia y suma puntos al subir de nivel</em></li>
            <li><em>Comunicate con la comunidad mediante nuestro chat exclusivo</em></li>
            <li><em>Juega partidas con personas de todo el mundo</em></li>
        </ul>
    </div>
    <div class="row">
        <div class="col">
            <a routerLink="registro">Soy nuevo aqui</a>
        </div>
        <div class="col">
            <a routerLink="login">Estoy registrado</a>
        </div>
    </div>
</div>









