<h1><a routerLink="inicio">Sala de Juegos</a></h1>   
    <div *ngIf="!GetLogueado()">
        <nav>
            <a routerLink="registro">Registrarse</a>
            <a routerLink="login">Ingresar</a>
            <a routerLink="quienSoy">Quien soy</a>
        </nav> 
    </div>
    <div *ngIf="GetLogueado()">
        <nav>
            <a routerLink="home">Home</a>
            <a routerLink="home">Juegos</a>
            <a routerLink="home">Tu puntaje</a>
            <a routerLink="chat">Chat</a>
        </nav> 
    </div>