h1{
    background-color: #F5F5F5;
    margin: 5px 0 0 0;
    padding: 15px;
    
}

h1>a{
    color: black;
    font-weight: lighter;
}

a{
    text-decoration: none;
    margin: 0 10px 0 10px;
   
    color: #FAFAFA;
    font-weight: bolder;
    font-size: larger;
    
}

nav{
    background-color:#82E0AA;
    height: 40px;
}