<div class="container-fluid row">
    <div class="titulo col">
        <a routerLink="**">SALA DE JUEGOS</a>
    </div>
    <div class="secciones col">
        <div *ngIf="!GetLogueado()">
            <nav>
                <a routerLink="registro">Registrarse</a>
                <a routerLink="login">Ingresar</a>
                <a routerLink="quienSoy">Quien soy</a>
            </nav> 
        </div>
        <div *ngIf="GetLogueado()">
            <nav>
                <a routerLink="juegos">Juegos</a>
                <a routerLink="chat">Chat</a>
                <a routerLink="puntajes">Puntajes</a>
            </nav>
        </div>
    </div>
    <app-logout id="logout" *ngIf="GetLogueado()"></app-logout> 
</div>
