<div class="container-fluid d-flex flex-column" id="contenedor">
    <a routerLink="ahorcado">
        <div class="container" id="divAhorcado">
           <div class="col-4">
                <img src="./../../assets/img_ahorcado/ahorcado_icono2.png" alt="ahorcado_icon" id="imgAhorcado" class="img-fluid">
            </div>
            <div class="col-8">
                <h2>Ahorcado</h2> 
                <p>Descubri cual es la palabra oculta y salva a Roque de su terrible destino.</p>
                <p>Si se dificulta podremos darte una mano con unas pistas!</p>
                <p>Tomate tu tiempo para pensar pero ojo, el reloj corre...</p>
            </div>
        </div>
    </a>
    <a routerLink="mayor-menor">
    <div class="container" id="divMayorMenor">
        <div class="col-4">
            <img src="./../../assets/img_mayor-menor/naipes.jpg" alt="imgNaipes" id="imgMayorMenor" class="img-fluid" >
        </div>
        <div class="col-8">
            <h2>Mayor menor</h2> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, laborum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet....</p>
        </div>
    </div>
    </a>
    <a routerLink="preguntados">
    <div class="container" id="divPreguntados">
        <div class="col-4">
            <img src="./../../assets/img_preguntados/preguntados.png" alt="imgPreguntados" id="imgPreguntados" class="img-fluid" >
        </div>
        <div class="col-8">
            <h2>Preguntados</h2> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, laborum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet....</p>
        </div>
    </div>
    </a>
    <a routerLink="juego-propio">
    <div class="container" id="divJuegoPropio">
        <div class="col-4">
            <img src="" alt="imgJuegoPropio" id="imgJuegoPropio" class="img-fluid" >
        </div>
        <div class="col-8">
            <h2>Juego propio</h2> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, laborum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet....</p>
        </div>
    </div>
    </a>
</div>

<router-outlet></router-outlet>