<div class="container-fluid d-flex flex-column" id="contenedor">
    <div class="row" id="divAhorcado">
        <a routerLink="ahorcado">Ahorcado</a>
    </div>
    <div class="row" id="divMayorMenor">
        <a routerLink="ahorcado">Mayor-Menor</a>
    </div>
    <div class="row" id="divPreguntados">
        <a routerLink="ahorcado">Preguntados</a>
    </div>
    <div class="row" id="divJuegoPropio">
        <a routerLink="ahorcado">Juego propio</a>
    </div>
</div>

<router-outlet></router-outlet>