<div class="container" id="divAhorcado">
    <div class="row">
        <div class="col-3" >
            <img src={{rutaImgAhorcado}} class="img-fluid" alt="ahorcado0.jpg">
        </div>
        <div class="col-9"> 
            <div id="divTimer">
                <img src="./../../../../assets/img/timer.png" class="img-fluid" alt="imgTimer">
                <p>00:00:{{timer}}</p>
            </div>
            <div id="divInfoPalabra">
                <p>Escogé una letra, si se dificulta te puedo ayudar...</p>
                <p *ngFor="let pista of this.pistas">Pista: {{pista}}</p>
            </div>
            <div id="divPalabra">
                <p>{{incognita}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="divControles">
    <div class="row">
        <div class="col">
            <app-teclado (valorBoton)="controlarEventoTeclado($event)"></app-teclado>
        </div>
        <div *ngIf="flagBtnReiniciar" class="col" id="divReiniciar">
           <input type="button" value="Reiniciar" (click)="reiniciarJuego()">
           <p>{{txtFinalPartida}}</p>
        </div>
    </div>
</div>

