*{
    padding: 0;
    margin: 0;
}

.container-fluid{
    background-color: rgba(213, 245, 227, .4);
    margin: 3px 3px; 
    
}

.col-10{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    
}

#divLogout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    padding: 2px;
}

p{
    display: inline-block;
    margin-right: 20px;
}

input{
    border-radius: 5px;
    background-color: tomato;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bolder;
    width: 50%;
    transition: all 1s;
}

input:hover{
    transform: translate(-5px);
    transition: all 1s;
}

