<dialog #dialogRef>
    <div class="categoria">
        <h2>{{categoria}}</h2>
    </div>
    <div class="imagen">
        <img src="{{urlImg}}" alt="imagenApi">
    </div>
    <div class="pregunta">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="opciones">
        <input type="button" value="Opcion1">
        <input type="button" value="Opcion2">
        <input type="button" value="Opcion3">
        <input type="button" value="Opcion4">
    </div>
</dialog>
