.container{
    background-color: yellow;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#mano{
    width: 50px;
    border-radius: 60px;
    position: absolute;
    left: 30%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: slide;
    
    
}

@keyframes slide{
    from{
        left: 30%;
    }

    to{
        left: 40%;
    }
}



img{
    
    border-radius: 50%;
    
}

img:hover{
    cursor: pointer;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
        
    }
}

.historia{
    transform: rotate(0deg);
}

.deportes{
    transform: rotate(310deg);
}

.arte{
    transform: rotate(260deg);
}

.cine{
    transform: rotate(208deg);
}

.eleccionUsr{
    transform: rotate(155deg);
}

.geografia{
    transform: rotate(105deg);
}

.ciencia{
    transform: rotate(52deg);
}



