*{
    box-sizing: border-box;
    padding: 0;
}



.container-fluid{
    min-height: 80vh;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    border-radius: 5px;
    font-family: 'Consolas';
}

.container-fluid p{
    font-size: 2rem;
    font-weight: bold;
    color: #eee;
    letter-spacing: 3px;
    padding: 20px 0;
    margin: 20px 0 40px 0;
    width: 70%;
    border-width: 4px;
    border-style: solid;
    border-radius: 5px;
    background-color: #272c47;
    animation: 2s ease-in-out  infinite fxTitulo;
}

.container-fluid p:nth-child(2){
    display: none;
}

@keyframes fxTitulo{
    0%{
        border-color: #f52549;
        box-shadow: 0 0 20px #f52549;
    }
    25%{
        border-color: #fa6775;
        box-shadow: 0 0 20px #fa6775;
    }
    50%{
        border-color: #ffd64d;
        box-shadow: 0 0 20px #ffd64d;
    }
    75%{
        border-color: #9bc01c;
        box-shadow: 0 0 20px #9bc01c;
    }
     100%{
        border-color: #fa6775;
        box-shadow: 0 0 20px #fa6775;
    } 
}

table{
    width: 80%;
}

table, tr, td{
    background-color: #eff;
    border: 3px #fff solid;
    border-radius: 10px;
}

.trUsr{
    color: red;
}

thead td{
    background-color: #31333f;
    color: #eee;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 0 5px;
}

td{
    padding: 10px 30px;
}

@media screen and (max-width:1200px){
    thead td{
        font-size: .9rem;
    }
}

@media screen and (max-width:768px){
    .container-fluid p{
        font-size: 1rem;
    }

    td{
        padding: 2px;
    }
}

@media screen and (max-width:576px){
    .container-fluid p:first-child{
        display: none;
    }

    .container-fluid p{
        width: 80%;
    }

    .container-fluid p:nth-child(2){
        display: block;
        font-size: 1rem;
    } 

    table, thead td{
        font-size: .7rem;
    }
}

@media screen and (max-width:350px){
    thead td{
        font-size: .5rem;
    }
}

