.container{
    
   
    font-size: large;

}

input{
    margin: 3px;
    width: 3em;
    background-color: #ECEFF1 ;
    color: black;
    border: 3px solid white;
    border-radius: 5px;
    font-style: italic;
    font-weight: bold;
}

input:hover{
    background-color: #FAFAFA;
}