/* You can add global styles to this file, and also import other style files */


footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(247, 238, 238);
}