*{
    box-sizing: border-box;
    
}

#contenedor{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comenzar{
    width: 98%;
    height: 50vh;
    border-radius: 2px;
    margin: 20px 0 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(10, 40, 84);
    color: #eee;
    font-family:'Consolas';
}

#comenzar p{
    font-size: 1.5rem;
}

/* EFECTO BORDE OUTLINE*/
#comenzar>div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 25%;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    background: #318aac;
    border-radius: 1px;
    border: 1px solid #318aac;
    outline: 2px solid rgba(49, 138, 172, .5);
    transition: all .4s ease;
}
 
#comenzar>div:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}

 /*EFECTOS BORDES ARRIBA Y ABAJO
#comenzar>::before , #comenzar>div::after{
    content: '';
    display: block;
    background-color: red;
    position: absolute;
    bottom: 0;
    transition: all .3s;
}

#comenzar>div::before{
    width: 0;
    height: 3px;
    left: 0;
    box-shadow: 300px -88px red;
}

#comenzar>div:hover::before{
    width: 100%;
    box-shadow: 0 -88px red;
}

#comenzar>div::after{
    width: 3px;
    height: 0;
    right: 0;
    box-shadow: -297px -90px red;
}

#comenzar>div:hover::after{
    height: 100%;
    box-shadow: -297px 0 red;
}
*/

#juego{ 
    height: 95vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    background-image: url("./../../../../assets/img_juegoPropio/cieloOscuro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    margin-top: 10px; 
    padding: 0;
    cursor: crosshair;
    user-select: none;
}

.contadorMeteoritos{
    height: 5vh;
    padding: 0 10px;
    background-color: rgb(10, 40, 84);
    color: #ddd;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./../../../../assets/img_juegoPropio/pantallaRota2.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    animation: 2s ease-in 1 gameOver;
}

.gameOver>div{
    height: 30%;
    animation: 5s linear 1 animacionOpacidad;
}

@keyframes animacionOpacidad{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }   
    100%{
        opacity: 1;
    }
}

.row div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.gameOver p{
    font-size: 6rem;
    font-weight: bold;
    color: #eee;
    
}

.gameOverInputs input{
    width: 90%;
    height: 35%;
    margin: 5px;
    border: none;
    border-radius: 10px;

    font-size: 2rem;
    font-weight: bold;

    background-color: rgb(0, 0, 200);
    color: #eee;
}

.gameOverInputs input:hover{
    background-color: rgb(0, 0, 240);
    color: #fff;
}

@keyframes gameOver{
    0%{
        background-color: white;
        opacity: 1;
    }
    75%{
        background-color: white;
    }
    100%{
        
        opacity: .2;
    }
}

.divMeteorito{
    position: absolute;
    top: -10%;
}

.meteorito{
    width: 50px;
    height: 40px;
    border-radius: 50%;
}


.meteoritoGrande{
    width: 70px;
    height: 60px;
    border-radius: 50%;
}

.divGigante{
    position: absolute;
    top: -30%;
    left: 0;
    transform: scale(0);
    border-radius: 50%;
    
}

.meteoritoGigante{
    width: 500px;
    height: 450px;
    border-radius: 50%;    
}

.divGigante div{
    background-color: transparent;
    width: 35px;
    height: 35px;

    border: 1px solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

.divGigante div::after{
    content: 'X';
    font-size: x-large;
    font-weight: bold;
    color: red;
}

@keyframes explosion{
    from{
        transform: scale(3);
    }
    to{
        transform: scale(0);
    }
}

.ovni{
    position: absolute;
    top: 50%;
    left: -10%;
    animation: 5s linear 1 trayectoriaOvni;
}

.ovni>img{
    width: 90px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
}

.destruccionMasiva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 30%;

    position: absolute;
    top: 20%;
    left: 30%;

    color: #eee;
    font-weight: bold;
    font-size: x-large;
    
    
}

.destruccionMasiva p:first-child{
    color: yellow;
    
}

.destruccionMasiva :nth-child(3){
    color: yellow;
    font-weight: bold;
    font-size: 3em;
   
}

#juego img:first-child{
    width: 100%;
    height: 40%;
}

@keyframes trayectoriaGigante1{
    0%{
        transform: scale(.05);
    }
    100%{
        transform: scale(1.2);
        top: 20%;
        left: 30%;
    }
}

@keyframes trayectoriaGigante2{
    0%{
        left: 85%;
        transform: scale(.05);
    }
    100%{
        transform: scale(1.2);
        top: 15%;
        left: 40%;
    }
}

@keyframes trayectoriaGigante3{
    0%{
       
        left: 30%;
        transform: scale(.05);
    }
    100%{
        transform: scale(1.2);
        top: 15%;
        left: 30%;
    }
}

@keyframes trayectoriaOvni{
    0%{
        left: -10%;
    }
    50%{
        transform: scale(.7);
    }
    100%{
        top: 20%;
        left: 110%;
    }
}

@keyframes trayectoria1{
    0%{
        top: -10%;
        left: 20%;
    }
    100%{
        top: 85%;
        left: 20%;
    }
}

@keyframes trayectoria2{
    0%{
        top: -10%;
        left: 80%;
    }
    100%{
        top: 85%;
        left: 80%;
    }

}

@keyframes trayectoria3{
    0%{
        top: -10%;
        left: 100%;
    }
    100%{
        top: 85%;
        left: 10%;
    }

}

@keyframes trayectoria4{
    0%{
        top: -10%;
        left: 0;
    }
    100%{
        top: 85%;
        left: 90%;
    }

}

@keyframes trayectoria5{
    0%{
        top: -10%;
        left: -20%;
    }
    100%{
        top: 85%;
        left: 70%;
    }

}

@keyframes trayectoria6{
    0%{
        top: -10%;
        left: 10%;
    }
    100%{
        top: 85%;
        left: 50%;
    }

}

@keyframes trayectoria7{
    0%{
        top: -10%;
        left: 90%;
    }
    100%{
        top: 85%;
        left: 30%;
    }
}

@keyframes trayectoria8{
    0%{
        top: -10%;
        left: 50%;
    }
    100%{
        top: 85%;
        left: 90%;
        right: 40%;
    }
}

#btnReiniciar{
    position: absolute;
    background-color: transparent;
    color: yellow;
    font-size: large;
    font-weight: bolder;
    border: 1px #fff solid;
    border-radius: 5px;
    top: 5%;
    right: 2%;
    padding: 10px 30px;
    cursor: pointer;
   
}

#btnReiniciar:hover{
    transition: all .5s;
    background-color: yellow;
    color: black;
}

@media (max-width:1200px){
    #comenzar>p{
        font-size: 1rem;
    }

    #comenzar>div{
       
        font-size: 1.2rem;
    }

    .gameOver p{
        font-size: 4rem;
    }

    .gameOverInputs input{
        font-size: 1.5rem;
    }
}

@media (max-width:768px){
    #comenzar>div{
        width: 60%;
    }

    .gameOver>div{
        flex-direction: column;
        height: 40vh;
    }

    .divGameOver{
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gameOverInputs{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      
    }

    .gameOverInputs input{
        height: 40%;
        width: 70%;
    }
}

@media (max-width:576px){
    #comenzar{
        height: 70vh;
    }

    #comenzar>div{
        height: 15%;
    }

    #juego img:first-child{
        
        height: 30%;
    }

    .gameOver p{
        font-size: 3rem;
    }

    .gameOverInputs input{
        font-size: 1.2rem;
    }
}

@media (max-width:400px){
    #comenzar{
        height: 80vh;
    }

    #comenzar>div{
        width: 80%;
    }

    

    
}


