<div class="container-fluid" id="contenedor">
    <div id="comenzar">
        <p>DESTRUCTOR DE METEORITOS<p>
        <input type="button" value="Comenzar juego" (click)="comenzarJuego()">
    </div>
    <div class="container-fluid" id="juego" #divContainer> 
        <img src="./../../../../assets/img_juegoPropio/planetaTierra.jpg" alt="planetaTierra.jpg">
        <div *ngIf="destruccionMasiva" class="destruccionMasiva">
            <p>DESTRUCCION MASIVA ACTIVADA</p> 
            <p>Pasa el cursor por los meteoritos y seran destuidos automaticamente</p>
            <p>{{timerDestruccionMasiva}}</p>
        </div>
        <div *ngIf="flagDerrota" class="gameOver">
            <div class="row">
                <div class="col-7"> 
                    <p>GAME OVER</p>
                </div>
                <div class="col-5">
                    <input type="button" value="Nueva partida" (click)="reiniciar()">
                    <input type="button" value="Salir" (click)="salir()">
                </div>
            </div>
        </div>
    </div>
    <div>
            Meteoritos interceptados: {{meteoritosEliminados}}
    </div>
    <app-modal-fin-juego-meteoritos *ngIf="flagModalReinicio" 
                                    [meteoritosInterceptados]="meteoritosEliminados"
                                    (reiniciarJuego)="manejarEventoReiniciar()">
    </app-modal-fin-juego-meteoritos>
</div>



