<div class="container-fluid">
  <main class="form-signin">
    <form name="Frm" class="formulario" autocomplete="off">
      <h1 class="h3 mb-3 fw-normal">Login</h1>
      <div class="form-floating" *ngIf="!autocompletado">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="usuario.mail" name="Frm">
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating" *ngIf="autocompletado">  <!--Ver!! Esto es por el autocompletado-->
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="pascual@gmail.com" name="Frm">
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="usuario.contrasenia" name="Frm">
          <label for="floatingPassword">Contraseña</label>
      </div>
      <button class="w-25 btn btn-lg btn-primary" type="submit" (click)="Ingresar()">Ingresar</button>
      <button class="w-25 btn btn-lg btn-primary" (click)="AutoCompletarLogin()">Ingreso rapido</button>
    </form>
   <!-- <button class="btn btn-info" (click)="IngresarConGoogle()">Ingresar con Google</button> -->
  </main>
  <div *ngIf="error">
    <p>Error en mail o contraseña</p>
  </div>
</div>

  
  
  
  
