<div class="container-fluid">
    <main class="form-signin">
      <form name="Frm" name="frmRegistro">
        <h1 class="h3 mb-3 fw-normal">Formulario de registro</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" id="txtNombre" placeholder="nombre" [(ngModel)]="usuario.nombre" name="frmRegistro">
          <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="txtApellido" placeholder="apellido" [(ngModel)]="usuario.apellido" name="frmRegistro">
          <label for="floatingInput">Apellido</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="txtEmail" placeholder="name@example.com" [(ngModel)]="usuario.mail" name="frmRegistro">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="txtContrasenia" placeholder="Contraseña" [(ngModel)]="usuario.contrasenia" name="frmRegistro">
          <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="txtVerContrasenia" placeholder="Verificar Contraseña" [(ngModel)]="verContrasenia" name="frmRegistro">
            <label for="floatingPassword">Confirmar Contraseña</label>
          </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="GuardarDatos()">Registrarme</button>
      </form>

      


    </main>
    
  </div>
